*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.App{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
}
.App h1{
    color: rgb(35, 34, 34);
    padding: 2rem 0;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login span{
    color: red;
    cursor: pointer;
}



@media (max-width: 768px) {
    .logout-btn button {
        padding: 12px 50px;
        font-size: 16px;
    }

    .register form {
        padding: 1.5rem;
    }

    .taskForm form {
        flex-direction: column;
    }

    .taskForm form button {
        padding: 5px 30px;
    }

    .taskItem {
        flex-wrap: wrap;
        gap: 20px;
    }
    .taskList ul{
        gap: 2.5rem;
    }

    .taskItem h3 {
        font-size: 20px;
    }

    .taskItem p {
        font-size: 16px;
    }

    .taskItem button {
        padding: 8px 30px;
    }

    .App h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .logout-btn button {
        padding: 10px 40px;
        font-size: 14px;
    }

    .register form {
        padding: 1rem;
    }

    .taskForm form {
        flex-direction: column;
    }

    .taskForm form input,
    .taskForm form textarea,
    .taskForm form select {
        width: 100%;
    }

    .taskForm form button {
        padding: 5px 20px;
    }

    .taskItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .taskItem h3 {
        font-size: 18px;
    }

    .taskItem p {
        font-size: 14px;
    }

    .taskItem button {
        padding: 8px 20px;
    }

    .App h1 {
        font-size: 20px;
    }
}